.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 323px;
  height: 326px;
  display: flex;
  justify-content: center;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-weight: 700;
  font-family: "CabinetGrotesk-Medium";
}

.card__image {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.modal__content_type_image .card__image {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin if necessary */
}
